<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="LOG_TEMP" value="./spring.log"/>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <appender name="desire_fu_log" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${user.dir}/log/desire_fu.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${user.dir}/log/desire_fu-log-%d{yyyy-MM-dd}.gz</fileNamePattern>
            <maxHistory>15</maxHistory>
            <totalSizeCap>20GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <appender name="metrics" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${user.dir}/log/metrics-log-%d{yyyy-MM-dd}-%i.gz</fileNamePattern>
            <!-- each file should be at most 600MB, keep 7 days worth of history, but at most 6GB -->
            <maxFileSize>600MB</maxFileSize>
            <maxHistory>15</maxHistory>
            <totalSizeCap>6GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} -> %m%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <appender name="elapse" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
		       <!-- rollover daily -->
		       <fileNamePattern>${user.dir}/log/elapse-log-%d{yyyy-MM-dd}-%i.gz</fileNamePattern>
		       <!-- each file should be at most 600MB, keep 7 days worth of history, but at most 6GB -->
		       <maxFileSize>600MB</maxFileSize>    
		       <maxHistory>15</maxHistory>
		       <totalSizeCap>6GB</totalSizeCap>
		    </rollingPolicy>
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <appender name="es_sync_fail" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${user.dir}/log/es_sync_fail-log-%d{yyyy-MM-dd}.gz</fileNamePattern>
            <maxHistory>15</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <logger name="cn.gatesma.desirefu.service.schedule.ActuatorMonitorScheduler" level="INFO" additivity="false">
        <appender-ref ref="metrics"/>
    </logger>

    <logger name="cn.gatesma.desirefu.config.aspect.CertificationRepositoryAspect" level="OFF" additivity="false">
        <appender-ref ref="elapse"/>
    </logger>


    <logger name="org.apache.http" level="INFO">
        <appender-ref ref="desire_fu_log"/>
    </logger>

    <logger name="org.apache.http.wire" level="OFF">
        <appender-ref ref="desire_fu_log"/>
    </logger>

    <!-- dev/beta -->
    <springProfile name="dev,dns,docker">
        <logger name="cn.gatesma.desirefu" level="DEBUG" additivity="false">
            <appender-ref ref="desire_fu_log"/>
        </logger>
        <logger name="org.jooq" level="INFO" additivity="false">
            <appender-ref ref="desire_fu_log"/>
        </logger>
        <root level="INFO">
            <appender-ref ref="desire_fu_log"/>
        </root>
    </springProfile>


    <!-- preview/prod -->
    <springProfile name="sst,sandbox,preview,prod">
        <logger name="cn.gatesma.desirefu" level="INFO" additivity="false">
            <appender-ref ref="desire_fu_log"/>
        </logger>
        <logger name="org.jooq" level="INFO" additivity="false">
            <appender-ref ref="desire_fu_log"/>
        </logger>
        <root level="INFO">
            <appender-ref ref="desire_fu_log"/>
        </root>
    </springProfile>
</configuration>