---
swagger: "2.0"
info:
  description: DesireFU后端接口文档。
  version: 1.0.0
  title: DFU_API_DOC
host: gatesma.cn
basePath: /desirefu/v1
tags:
  - name: Account
    description: 账号接口
  - name: User
    description: 用户接口
  - name: Login
    description: 登录接口
  - name: Meta
    description: 元数据接口
  - name: Upload
    description: 文件上传接口
  - name: College
    description: 高校相关接口
  - name: Test
    description: 测试、健康检查
schemes:
  - http
paths:

  /hello:
    post:
      tags:
        - Test
      summary: Hello
      description: 返回"hello"
      operationId: hello
      consumes:
        - application/json
      produces:
        - application/json
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/HelloRet'
        400:
          description: Invalid RequestBody supplied
        404:
          description: RequestBody not found

  /user/add:
    post:
      tags:
        - User
      summary: 创建用户
      description: 创建用户，返回"用户ID"
      operationId: addUser
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: body
          description: 创建用户
          required: true
          schema:
            $ref: '#/definitions/AddUserRequest'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/AddUserRet'
        400:
          description: Invalid RequestBody supplied
        404:
          description: RequestBody not found

  /user/get:
    post:
      tags:
        - User
      summary: 查询用户
      description: 查询用户
      operationId: getUser
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: body
          description: 查询用户
          required: true
          schema:
            $ref: '#/definitions/GetUserRequest'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/GetUserRet'
        400:
          description: Invalid RequestBody supplied
        404:
          description: RequestBody not found

  /account/add:
    post:
      tags:
        - Account
      summary: 创建账号
      description: 创建账号，返回"账号ID"
      operationId: addAccount
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: body
          description: 创建用户
          required: true
          schema:
            $ref: '#/definitions/AddAccountRequest'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/AddAccountRet'
        400:
          description: Invalid RequestBody supplied
        404:
          description: RequestBody not found

  /college/add:
    post:
      tags:
        - College
      summary: 创建学校
      description: 创建学校，返回"学校ID"
      operationId: addCollege
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: body
          description: 创建学校
          required: true
          schema:
            $ref: '#/definitions/AddCollegeRequest'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/AddCollegeRet'
        400:
          description: Invalid RequestBody supplied
        404:
          description: RequestBody not found

  /college/get:
    post:
      tags:
        - College
      summary: 查询高校
      description: 查询高校
      operationId: getCollege
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: body
          description: 查询高校
          required: true
          schema:
            $ref: '#/definitions/GetCollegeRequest'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/GetCollegeRet'
        400:
          description: Invalid RequestBody supplied
        404:
          description: RequestBody not found

definitions:
  Object:
    type: object
  ReturnCode:
    type: object
    required:
      - code
      - message
    properties:
      code:
        type: integer
        format: int32
        example: 0
      message:
        type: string
        example: OK
  Page:
    properties:
      page_num:
        type: integer
        format: int32
        description: 页号
        minimum: 1
        default: 1
      page_size:
        type: integer
        format: int32
        description: 每页数据量
        minimum: 1
        default: 10
  PageInfo:
    properties:
      page_num:
        type: integer
        format: int32
        description: 当前页号
      page_size:
        type: integer
        format: int32
        description: 当前页数据量
      total_page:
        type: integer
        format: int32
        description: 总共页数
      total_count:
        type: integer
        format: int32
        description: 总共数据量

  AddAccountRequest:
    required:
      - login_name
      - login_name_type
    properties:
      account_type:
        type: integer
        format: int32
        example: 1
        description: 账号类型
      nick_name:
        type: string
        example: gatesma
        description: 账号名称
      memo:
        type: string
        example: 审核通过
        description: 备注
      created_user_id:
        type: integer
        format: int64
        example: 3453454
        description: 创建者userId
    title: AddAccountRequest
  AddAccountRet:
    allOf:
      - $ref: '#/definitions/ReturnCode'
      - properties:
          data:
            $ref: '#/definitions/AddAccountRetData'
  AddAccountRetData:
    properties:
      account_id:
        type: integer
        format: int64
        example: 100000
        description: 账号ID

  AddCollegeRet:
    allOf:
      - $ref: '#/definitions/ReturnCode'
      - properties:
          data:
            $ref: '#/definitions/AddCollegeData'
  AddCollegeData:
    properties:
      college_id:
        type: integer
        format: int32
        example: 2211
        description: 学校ID
  AddCollegeRequest:
    required:
      - name
      - ministry
      - identification
    properties:
      name:
        type: string
        example: 四川大学
        description: 学校名称
      ministry:
        type: string
        example: 教育部
        description: 主管部门
      identification:
        type: string
        example: 4151010610
        description: 学校标识码
      location:
        type: string
        example: 成都
        description: 所在地
      level:
        type: string
        example: 本科
        description: 办学层次
      memo:
        type: string
        example: 备注
        description: 备注

  Login:
    required:
      - login_name
      - login_name_type
    properties:
      login_name:
        type: string
        example: "78837721"
        description: 登录账号名称
      login_name_type:
        type: integer
        format: int32
        example: 1
        description: 登录账号类型
      uin:
        type: string
        example: wid_syndekas34mnsj
        description: 微信或QQ对应的openID
    description: 登录信息
  LoginInfo:
    properties:
      login_name:
        type: string
        example: "78837721"
        description: 登录账号名称
      login_name_type:
        type: integer
        format: int32
        example: 1
        description: 登录账号类型
      uin:
        type: string
        example: "wx112341"
        description: loginNameType=12时，此字段为原始wx号
    description: 登录信息
  User:
    properties:
      user_id:
        type: integer
        format: int64
        example: 17998821
        description: 用户ID
        readOnly: true
      logins:
        type: array
        description: 所有login信息，包括绑定的
        items:
          $ref: '#/definitions/LoginInfo'
      user_name:
        type: string
        description: 用户名称
      cellphone:
        type: string
        description: 手机号码
      email:
        type: string
        description: 邮箱
      delete_status:
        type: integer
        format: int32
        example: 0
        description: 删除状态
        readOnly: true
      created_user_id:
        type: integer
        format: int64
        example: 3453334
        description: 创建人userId
      created_time:
        type: string
        example: '2018-01-01 12:00:00'
        description: 创建时间，格式：yyyy-MM-dd HH:mm:ss
        readOnly: true
      last_modified_user_id:
        type: integer
        format: int64
        example: 3453334
        description: 最后修改人userId
      last_modified_time:
        type: string
        example: '2018-01-02 13:20:15'
        description: 最后修改时间，格式：yyyy-MM-dd HH:mm:ss
        readOnly: true
    description: 用户

  GetUserRequest:
    properties:
      user_id:
        type: integer
        format: int64
        example: 17998821
        description: 用户登录信息 (login_name, login_name_type) 和 user_id两个必填一个
      login_name:
        type: string
        example: "78837721"
        description: 用户登录名称
      login_name_type:
        type: integer
        format: int32
        example: 1
        description: 用户登录类型
  GetUserRet:
    allOf:
      - $ref: '#/definitions/ReturnCode'
      - properties:
          data:
            $ref: '#/definitions/User'


  GetCollegeRequest:
    properties:
      name:
        type: string
        example: 四川大学
        description: 高校名称
      ministry:
        type: string
        example: 教育部
        description: 主管部门
      identification:
        type: string
        example: 4151010610
        description: 唯一标识码
  GetCollegeRet:
    allOf:
      - $ref: '#/definitions/ReturnCode'
      - properties:
          data:
            type: array
            items:
              $ref: '#/definitions/College'
  College:
    description: 高校
    properties:
      college_id:
        type: integer
        format: int32
        example: 2211
        description: 学校ID
      name:
        type: string
        example: 四川大学
        description: 学校名称
      ministry:
        type: string
        example: 教育部
        description: 主管部门
      identification:
        type: string
        example: 4151010610
        description: 学校标识码
      location:
        type: string
        example: 成都
        description: 所在地
      level:
        type: string
        example: 本科
        description: 办学层次
      memo:
        type: string
        example: 备注
        description: 备注
      created_time:
        type: string
        example: "2020-01-01 00:00:00"
        description: 创建时间，格式：yyyy-MM-dd HH:mm:ss
      last_modified_time:
        type: string
        example: "2000-01-01 00:00:00"
        description: 最后修改时间，格式：yyyy-MM-dd HH:mm:ss




  AddUserRet:
    allOf:
      - $ref: '#/definitions/ReturnCode'
      - properties:
          data:
            $ref: '#/definitions/AddUserRetData'
  AddUserRetData:
    properties:
      user_id:
        type: integer
        format: int64
        example: 100000
        description: 用户ID
  AddUserRequest:
    required:
      - login_name
      - login_name_type
    properties:
      login_name:
        type: string
        description: 登录账号名称
      login_name_type:
        type: integer
        format: int32
        example: 1
        description: 登录账号类型
      user_name:
        type: string
        description: 用户名称
      cellphone:
        type: string
        description: 手机号码
      email:
        type: string
        description: 邮箱
      created_user_id:
        type: integer
        format: int64
        example: 3453454
        description: 创建者userId
    title: AddUserRequest

  HelloRet:
    allOf:
      - $ref: '#/definitions/ReturnCode'
      - properties:
          data:
            type: string
            description: 返回字符串
